body{
	background: #F0F0F0;
}
header{
	width: 100%;
	height: 147px;
	background: url(../img/top_bg2.png) no-repeat;
	background-size: 100% 100%;
}
.header{
	width: 100%;
	height: 107px;
}
.header1{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.header2{
	width: 400px;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
}
.header2 img{
	width: 222px;
	height: 85px;
}
.header2 p{
	height: 70px;
	border-left: 1px solid #FF7066;
	font-size: 18px;
	padding-left: 10px;
	color: #FF7066;
	display: flex;
	align-items: center;
}
.header3{
	width: 250px;
	height: 100%;
	display: flex;
	align-items: center;
}
.header3 div{
	width: 100%;
	height: 35px;
	border-radius: 15px;
	background: #FF7066;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header3 div img{
	width: 25px;
	height: 25px;
}
.header3 div p{
	color: #fff;
	font-family: "华文行楷";
	font-size: 18px;
}
.header3 div h1{
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 4px;
}
.header4{
	width: 100%;
	height: 40px;
    background: rgba(255,112,102,.6); 
}
.header5{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	
}
.header5 ul{
	width: 966px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.header5 ul li{
	padding: 0px 25px;
	height: 100%;
	display: flex;
	align-items: center;
}
.header5 ul .li1{
	height: 100%;
	background: #FF7066;
	display: flex;
	align-items: center;
}
.header5 ul li:hover{
	background: #FF7066;
}
.header5 ul li a{
	color: #fff;
}
.header5 div{
	width: 211px;
	display: flex;
	align-items: center;
}
.header5 div input{
	outline:medium;
	height: 22px;
	width: 140px;
	border: 0px;
	border-radius: 20px 0 0 20px;
	padding-left: 10px;
}
.header5 div span{
	height: 22px;
	width: 40px;
	border-radius: 0 20px 20px 0;
	background: #FE7066;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	width: 100%;
	height: 280px;
	position: absolute;
	left: 0px;
	top: 650px;
	z-index: 99;
}
.content1{
	width: 980px;
	height: 280px;
	margin: 0px auto;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0px 1px 4px #999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content1 ul{
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: space-between;
}
.content1 ul li{
	width: 292px;
	height: 100%;
	padding: 0px 17px;
	border-right: 1px solid #ECECEC;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.content1 ul .li2{
	border-right: 0px;
}
.content3{
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: space-between;
}
.content3 h1{
	width: 28%;
	font-size: 18px;
	
}
.content2{
	width: 72%;
	display: flex;
	justify-content: space-between;
}
.content2 p{
	color: #ddd;
	line-height: 29px;
	font-size: 14px;
}
.content2 a p:hover{
	color: #FF7066;
}
.content4{
	width: 100%;
	height: 110px;
}
.content4 img{
	width: 100%;
	height: 100%;
}
.content1 ul li .span1{
	width: 100%;
	height: 55px;
	font-size: 12px;
	line-height: 18px;
	text-indent: 2em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.content5{
	width: 100%;
	height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content1 ul li .span2{
	width: 100%;
	height: 15px;
	font-size: 12px;
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#lunbo{
	width: 100%;
	height: 110px;
}
#jiantou1{
	width: 25px;
	height: 30px;
	margin-top: -14px;
	background: url(../img/swiper_button_004.png) 0px 0px;
}
#jiantou2{
	width: 25px;
	height: 30px;
	margin-right: 10px;
	margin-top: -14px;
	background: url(../img/swiper_button_004.png) 25px 0px;
}
#dian .swiper-pagination-bullet-active{
	background: #fff;
}
.content5 p{
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}
.content5 .span3{
	font-size: 12px;
	line-height: 18px;
	text-indent: 2em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.kong{
	width: 100%;
	height: 155px;
}
.cooperation{
	width: 980px;
	height: 45px;
	margin: 0px auto;
	box-shadow: 0px 1px 4px #999;
	border-radius: 7px;
	display: flex;
	background: #fff;	
}
.cooperation1{
	width: 140px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 7px 0px 0px 7px;
	background: #FF7066;
}
.sanjiao{
	width: 0;
	height: 0;
	margin-top: 18px;
	border-left: 6px solid #FF7066;
	border-right: 6px solid transparent;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.cooperation ul{
	width: 820px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.cooperation ul li{
	width: 165px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.foot{
	width: 980px;
	height: 225px;
	padding-top: 35px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.foot1{
	width: 637px;
	height: 145px;
	padding-right: 20px;
	border-right: 1px dashed #BCBCBC;
	display: flex;
	justify-content: space-between;
}
.foot1 dl{
	width: 70px;
	text-align: center;
}
.foot1 dl dt{
	font-size: 17px;
}
.foot1 dl dd{
	font-size: 14px;
	margin-top: 11px;
}
.foot1 dl dd a{
	color: #B6B6B6;
}
.foot1 dl dd a:hover{
	color: #FF7066;
	font-size: 15px;
}
.foot2{
	width: 300px;
	height: 255px;
	display: flex;
	justify-content: space-between;
	background: url(../img/beijing4.png) 46px 40px no-repeat;
}
.foot3{
	width: 160px;
	height: 100%;
}
.foot2 p{
	width: 160px;
	height: 18px;
	font-size: 13px;
	margin-bottom: 10px;
}
.foot2 .p3{
	padding-left: 3px;
}
.foot4{
	width: 108px;
	height: 100%;
}
.foot4 img{
	width: 107px;
	height: 107px;
}
.foot4 p{
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.foot5{
	width: 100%;
	height: 60px;
	background: #D3D6D9;
	display: flex;
	align-items: center;
}
.foot6{
	width: 980px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.foot6 p{
	font-size: 14px;
}
.foot6 a{
	font-size: 14px;
	color: #333;
}
.foot6 a:hover{
	color: #FF7066;
}
.foot6 span{
	font-size: 14px;
	color: #B6B6B6;
}